<section id="top-section">
<div class="container">
  <div class="row">
    <div class="col m12">
      <h2>Press Posts</h2>
      <div class="card">
        <div class="card-content">
          <%= link_to 'New Press Post', new_press_post_path, class: 'btn btn-large submit-button' %>
          <table class="table">
            <thead>
              <tr>
                <th width="40%">Title</th>
                <th width="10%">Publish</th>
                <th width="15%">Published</th>
                <th>Views</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @press_posts.each do |press_post| %>
                <tr>
                  <td><%= press_post.title%></td>
                  <td><%= '<i class="fa fa-check"></i>'.html_safe if press_post.publish %></td>
                  <td><%= press_post.published_date.strftime('%d %B %Y') %></td>
                  <td><%= link_to '<i class="fa fa-eye"></i> View'.html_safe, press_post %></td>
                  <td><%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_press_post_path(press_post) %></td>
                  <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, press_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @press_posts.size == 0 %>
            <center>
              <h3>You currently have no press posts.<br> Fix this using the "New Press Post" button located above.</h3>
            </center>
          <% end %>
        </div>
      </div>
      <div class="card">
        <center>
          <%= will_paginate @press_posts %>
        </center>
      </div>
    </div>
  </div>
</div>
</section>
