<%= simple_form_for(@course_intake) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="form-group input-field">
      <%= f.text_field :start_date, class: "datepicker", placeholder: "Select an intake start date. Can't be empty." %>
    </div>
    <div class="form-group input-field">
      <%= f.text_field :finish_date, class: "datepicker", placeholder: "Select an intake finish date. Can't be empty." %>
    </div>
    <div class="form-group input-field">
      <%= f.input :campus %>
    </div>
    <div class="form-group input-field">
      <%= f.input :class_size %>
    </div>
      <%= f.check_box :allow_academy_applications, as: :boolean, id: "checkbox1" %>
      <label for="checkbox1">Allow Academy Applications</label>
    <br>
      <%= f.check_box :allow_scholarship_applications, as: :boolean, id: "checkbox2" %>
      <label for="checkbox2">Allow Scholarship Applications</label>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-large submit-button" %>
  </div>
<% end %>

<script>
$('.datepicker').pickadate({
  container: 'body',
  selectDays: true,
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15 // Creates a dropdown of 15 years to control year
});
</script>

