<section class="white">
<div class="container">
  <div class="row">
    <h2>Join the Coder Factory Academy Newsletter</h2>
    <p class="flow-text">Coding is not just for geeks anymore. Anyone can do it - and it's fun!</p>
    <div class="row">
      <div class="col m6">
        <br>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Exclusive events</li>
          <li><i class="fa-li fa fa-check-square"></i>Information & Resource Rich</li>
          <li><i class="fa-li fa fa-check-square"></i>Know what's going on in the world of code!</li>
        </ul>
      </div>
      <div class="col m6">
        <%= simple_form_for(@newsletter_user) do |f| %>
          <%= f.error_notification %>
          <div class="white-form">
            <div class="row">
              <div class="input-field col s6">
                <%= f.input :first_name, required: true %>
              </div>
              <div class="input-field col s6">
                <%= f.input :last_name, required: true %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.input :email, required: true %>
              </div>
              <div class="form-actions col s2">
                <%= f.button :submit, "Join the club", class: "submit-button" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
