<section id="testimonials" class="grey lighten-2">
<div class="container">
  <h2>MEET OUR ALUMNI</h2>
  <div class="row"><div class="col s12">
      <div class="slider" id="industry-slider">
        <ul class="slides" id="slide-container">
          <li class="grey lighten-2 valign-wrapper">
            <div class="col m8 offset-m1 s12">
              <i class="fa fa-quote-left"></i><p class="p-inline p-big"> You will just learn so fast and be able to build something in your first lesson! </p><i class="fa fa-quote-right"></i>
              <p><em>Anna Robson, Sports Coach</em></p>
            </div>
            <div class="col m2 hide-on-small-only">
              <img src="<%= asset_path 'testimonials/AnnaCrop.jpg' %>" class="responsive-img circle">
            </div>
          </li>
          <li class="grey lighten-2 valign-wrapper">
            <div class="col m8 offset-m1 s12">
              <i class="fa fa-quote-left"></i><p class="p-inline p-big"> It’s not that hard to learn and develop a web application with Ruby on Rails. </p><i class="fa fa-quote-right"></i>
              <p><em>Attila Zimler, Software Developer</em></p>
            </div>
            <div class="col m2 hide-on-small-only">
              <img src="<%= asset_path 'testimonials/AttilaCrop.jpg' %>" class="responsive-img circle">
            </div>
          </li>
          <li class="grey lighten-2 valign-wrapper">
            <div class="col m8 offset-m1 s12">
              <i class="fa fa-quote-left"></i><p class="p-inline p-big"> [Coder Factory] gives you more technical experience rather than being mudlled up in all the theories. Students can focus on the practical skills that employers want. </p><i class="fa fa-quote-right"></i>
              <p><em>Daniel Dumycz, Artist</em></p>
            </div>
            <div class="col m2 hide-on-small-only">
              <img src="<%= asset_path 'testimonials/DanielCrop.jpg' %>" class="responsive-img circle">
            </div>
          </li>
          <li class="grey lighten-2 valign-wrapper">
            <div class="col m8 offset-m1 s12">
              <i class="fa fa-quote-left"></i><p class="p-inline p-big"> [The atomosphere] is very casual, very friendly. They have been exceptionally patient with me and determined to help me. I am learning a lot, very quickly! </p><i class="fa fa-quote-right"></i>
              <p><em>Peter Hogan, Retail Professional</em></p>
            </div>
            <div class="col m2 hide-on-small-only">
              <img src="<%= asset_path 'testimonials/PeterCrop.jpg' %>" class="responsive-img circle">
            </div>
          </li>
          <li class="grey lighten-2 valign-wrapper">
            <div class="col m8 offset-m1 s12">
              <i class="fa fa-quote-left"></i><p class="p-inline p-big"> We really enjoyed it and got a lot out of it. I have changed job. I am now using Ruby on Rails in my new startup! </p><i class="fa fa-quote-right"></i>
              <p><em>Sam Henderson, Entrepeneur</em></p>
            </div>
            <div class="col m2 hide-on-small-only">
              <img src="<%= asset_path 'testimonials/SamCrop.jpg' %>" class="responsive-img circle">
            </div>
          </li>
        </ul>
      </div>
    </div></div></div>
    <center>
      <a href="/testimonials" class="btn-large black-text info-session-button waves-effect waves-light">MEET MORE</a>
    </center>
</section>
