<%= content_for :title, 'Meet our Team' %>
<%= content_for :description, 'Meet our team here at Coderfacotry.' %>
<div class="container">
  <h2>Our Mission</h2>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p>Coder Factory provides education in the latest web and application development technologies. Graduates will be able to build their own tech startups or applications that help them in their careers and personal life.</p>
          <p>We are a beacon for advancing technology education globally and support our community through education, networking opportunities and media exposure.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Unique Partnership</h2>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p>Coder Factory and the Academy of Information and Technology have joined forces to offer the US style coding boot camp experience while delivering a nationally accredited Diploma qualification. This partnership allows students to access VET FEE HELP for tuition and immerse themselves in a hands on project based learning experience that is revolutionizing the IT industry in the US and other global technology hubs.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Executive Team</h2>
  <div class="row">
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'pete.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Pete Argent</span>
          <p><strong>Academic Director</strong></p>
          <p>Pete is passionate about technology and encouraging the community to be involved in creating their future. After a career at IBM, Pete now lives to teach coding and share his love of tech.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'raman.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Raman Nambiar</span>
          <p><strong>Managing Director</strong></p>
          <p>Raman has a career spanning education, executive recruitment and technology in a wide variety of industries including hospitality, security and IT. He lives between Australia and the USA and is passionate about opening and expanding the access to technology education world-wide.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'gabriel.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Gabriel Providel</span>
          <p><strong>General Manager of AIT</strong></p>
          <p>Gabriel is an experienced senior executive with a strong track record in education, creative and technology businesses. He is passionate about all things digital and has had the opportunity to live, study and work across Australia, USA, Singapore, Spain, Chile and the Middle East.</p>
        </div>
      </div>
    </div>
  </div>
          <h2>Our Approach To Learning</h2>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p>We are big fans of the Coding Boot camp movement founded in Silicon Valley USA and revolutionising fast tracked technology education. Our classes are super intensive, project based and contain a healthy dose of computer science logic fundamentals.</p>
          <p>Our aim is to give you the ability to recognise a problem and build a quick solution then refine your application using cutting edge programming languages that are in demand with the top tech employers.</p>
          <p>Our teachers are plucked out straight from industry and our curriculum is fast tracked from the US and refreshed constantly.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Academic Team</h2>

  <div class="row">
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'pete.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Pete Argent</span>
          <p><strong>Teacher</strong></p>
          <p>Pete loves sharing his passion for coding and has been teaching Ruby on Rails for 3 years to hundreds of students. His 10 year career at IBM and stint as a freelance coder means he has a varied background to draw upon.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'alex.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Alexandre Girard</span>
          <p><strong>Teacher</strong></p>
          <p>Alexandre has been working in IT since 2007. With his passion for digital technology, he has sought out opportunities to work on business and technical challenges in the Sydney startup scene.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'jordan.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Jordan Hart</span>
          <p><strong>Curriculum Advisor</strong></p>
          <p>Jordan has taught technology/engineering for over a decade, in subjects ranging from robotics to web, app and game development. He designs curriculum around challenges and projects that are aligned with industry standard skills. He loves helping students ride the waves of emerging tech.</p>
        </div>
      </div>
    </div>
  </div>

</div>
