<% if @type == "application" || @type == "enquiry" %>
  <%= content_for :title, "Thankyou for your #{@type}." %>
  <%= content_for :description, "Your #{@type} has been received. You should hear back from us within 1-2 business days." %>
  <div class="container">
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card">
          <div class="card-content">
            <center>
              Thankyou for your <%= @type %>. An email has been sent to your specified email address. If you have not received one, check your Junk/Spam folder.<br><br> We should get back to you within 1-2 business days.
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= content_for :title, "Thankyou for joing our newsletter mailing list." %>
  <%= content_for :description, "Your #{@type} has been received. You should hear back from us within 1-2 business days." %>
  <div class="container">
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card">
          <div class="card-content">
            <center>
              Thankyou for your <%= @type %>. An email has been sent to your specified email address. If you have not received one, check your Junk/Spam folder.<br><br> We should get back to you within 1-2 business days.
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
