<%= content_for :title, 'Meet your Instructors' %>
<%= content_for :description, 'Meet the educational team here at coderfactory..' %>
<div class="container">
  <h2>Our Approach To Learning</h2>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p>We are big fans of the Coding Boot camp movement founded in Silicon Valley USA and revolutionising fast tracked technology education. Our classes are super intensive, project based and contain a healthy dose of computer science logic fundamentals.</p>
          <p>Our aim is to give you the ability to recognise a problem and build a quick solution then refine your application using cutting edge programming languages that are in demand with the top tech employers.</p>
          <p>Our teachers are plucked out straight from industry and our curriculum is fast tracked from the US and refreshed constantly.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Academic Team</h2>

  <div class="row">
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'pete.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Pete Argent</span>
          <p><strong>Teacher</strong></p>
          <p>Pete loves sharing his passion for coding and has been teaching Ruby on Rails for 3 years to hundreds of students. His 10 year career at IBM and stint as a freelance coder means he has a varied background to draw upon.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'alex.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Alexandre Girard</span>
          <p><strong>Teacher</strong></p>
          <p>Alexandre has been working in IT since 2007. With his passion for digital technology, he has sought out opportunities to work on business and technical challenges in the Sydney startup scene.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card" id="team-cards">
        <div class="card-image">
          <img src="<%= asset_path 'jordan.jpg' %>">
        </div>
        <div class="card-content">
          <span class="card-title light-blue-text">Jordan Hart</span>
          <p><strong>Curriculum Advisor</strong></p>
          <p>Jordan has taught technology/engineering for over a decade, in subjects ranging from robotics to web, app and game development. He designs curriculum around challenges and projects that are aligned with industry standard skills. He loves helping students ride the waves of emerging tech.</p>
        </div>
      </div>
    </div>
  </div>
</div>
