<%= content_for :title, 'Meet your Instructors' %>
<%= content_for :description, 'Meet the educational team here at coderfactory..' %>
<div class="container">
  <h2>Our Approach To Learning</h2>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title" id="logo-blue-text">NOT YOUR AVERAGE COURSE</span>
          <p>We brought the Silicon Valley-founded coding bootcamp movement to Australia for a reason. Our super-intensive, project-based courses revolutionise fast-tracked technology education. Not only do our students acquire a healthy dose of computer science logic fundamentals. They also learn to recognise a problem, build a quick solution, and become fluent in cutting-edge web programming languages in demand with top tech companies.</p>
            <br>
            <span class="card-title" id="logo-blue-text">MEET YOUR INSTRUCTORS</span>
            <p>Our instructors may come from different backgrounds and countries. But, they all share one trait: expertise. Each of our trainers is plucked direct from the tech industry to ensure our students learn the most in-demand web development skills. Our curriculum also comes direct from the world’s technology and start-up epicenter – Silicon Valley.<p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <center><img src="<%= asset_path 'pete.jpg' %>" class="responsive-img circle z-depth-1"></center>
      <div class="card" id="team-cards">
        <div class="card-content">
          <span class="card-title" id="logo-blue-text">Pete Argent</span>
          <p>Pete left his career at IBM after 10 years to pursue his passion of teaching coding courses. He has taught web programming and full-stack development skills to over 400 students.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <center><img src="<%= asset_path 'alex.jpg' %>" class="responsive-img circle z-depth-1"></center>
      <div class="card" id="team-cards">
        <div class="card-content">
          <span class="card-title" id="logo-blue-text">Alexandre Girard</span>
          <p>Alexandre comes to Coder Factory Academy with nine years of IT industry experience. Passionate about all things digital, Alexandre helps Australian start-ups overcome technical challenges.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <center><img src="<%= asset_path 'jordan.png' %>" class="responsive-img circle z-depth-1"></center>
      <div class="card" id="team-cards">
        <div class="card-content">
          <span class="card-title" id="logo-blue-text">Jordan Hart</span>
          <p>Jordan has taught technology and engineering for over a decade using project-based coursework that aligns with the industry’s latest in-demand skills. His areas of expertise range from robotics to web, app, and game development.</p>
        </div>
      </div>
    </div>
  </div>
</div>
