<div class="container">
<div class="row">
  <h2>What our students say....</h2>
  <div class="card">
    <div class="card-content">
      Coder Factory has had over 400 students complete a variety of short courses, work shops or intensive programs over the past 2 years. Listen/read about some of their experiences and what they are doing now....
    </div>
  </div>
  <hr>
  <a class="modal-trigger" href="#modalAnna">
    <div class="card-panel black-text hoverable">
      <div class="row valign-wrapper">
        <div class="col s2">
          <center>
            <i class="fa fa-expand fa-5x"></i>
          </center>
        </div>
        <div class="col s8">
          <p>You will just learn so fast and be able to build something in your first lesson!</p>
          <h5>Anna Robson, Coder & Sports Coach</h5>
        </div>
        <div class="col s2">
          <img src="<%= asset_path 'testimonials/AnnaCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <a class="modal-trigger" href="#modalAttila">
    <div class="card-panel black-text">
      <div class="row valign-wrapper">
        <div class="col s2">
          <center>
            <i class="fa fa-expand fa-5x"></i>
          </center>
        </div>
        <div class="col s8">
          <p>It’s not that hard to learn and develop a web application with Ruby on Rails.</p>
          <h5>Attila Zimler, Coder & Software Developer</h5>
        </div>
        <div class="col s2">
          <img src="<%= asset_path 'testimonials/AttilaCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <a class="modal-trigger" href="#modalDaniel">
    <div class="card-panel black-text">
      <div class="row valign-wrapper">
        <div class="col s2">
          <center>
            <i class="fa fa-expand fa-5x"></i>
          </center>
        </div>
        <div class="col s8">
          <p>[Coder Factory] gives you more technical experience rather than being mudlled up in all the theories (…) students can focus on the practical skills that employers want.</p>
          <h5>Daniel Dumycz, Coder & Artist</h5>
        </div>
        <div class="col s2">
          <img src="<%= asset_path 'testimonials/DanielCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <a class="modal-trigger" href="#modalPeter">
    <div class="card-panel black-text">
      <div class="row valign-wrapper">
        <div class="col s2">
          <center>
            <i class="fa fa-expand fa-5x"></i>
          </center>
        </div>
        <div class="col s8">
          <p>[The atomosphere] is very casual, very friendly (…) they have been exceptionally patient with me and determined to help me. (…) I am learning a lot, very quickly!</p>
          <h5>Peter Hogan, Coder & Retail Professional</h5>
        </div>
        <div class="col s2">
          <img src="<%= asset_path 'testimonials/PeterCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <a class="modal-trigger" href="#modalSam">
    <div class="card-panel black-text">
      <div class="row valign-wrapper">
        <div class="col s2">
          <center>
            <i class="fa fa-expand fa-5x"></i>
          </center>
        </div>
        <div class="col s8">
          <p>We really enjoyed it and got a lot out of it. (…) I have changed job (…) I am now using Ruby on Rails in my new startup!</p>
          <h5>Sam Henderson, Coder & Entrepeneur</h5>
        </div>
        <div class="col s2">
          <img src="<%= asset_path 'testimonials/SamCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
</div>
</div>

<div id="modalAnna" class="modal">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/150739950?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div id="modalAttila" class="modal">
  <div class="video-container">
  </div>
</div>
<div id="modalDaniel" class="modal">
  <div class="video-container">
  </div>
</div>
<div id="modalPeter" class="modal">
  <div class="video-container">
  </div>
</div>
<div id="modalSam" class="modal">
  <div class="video-container">
  </div>
</div>
<script>
$(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});
</script>
