<div class="container">
<div class="row">
  <h2>Meet Our Alumni</h2>
  <h5>Over the last two years, Coder Factory has helped hundreds of students – from all walks of life and professional backgrounds – transform from coding novices into coding superheroes. Here's what some of our alumni had to say about their experiences...</h5>
  <hr>
  <a id="annaVidLink" class="modal-trigger" href="#modalAnna">
    <div class="card-panel black-text hoverable">
      <div class="row valign-wrapper">
        <div class="col m2 s2">
          <center>
            <i class="fa fa-play fa-5x"></i>
            <p size="8px">Play Video</p>
          </center>
        </div>
        <div class="col m8 s9 offset-s1">
          <i class="fa fa-quote-left"></i><h5 class="h5-inline"> You will just learn so fast and be able to build something in your first lesson! </h5><i class="fa fa-quote-right"></i>
          <p><em>Anna Robson, Sports Coach</em></p>
        </div>
        <div class="col m2 hide-on-small-only">
          <img src="<%= asset_path 'testimonials/AnnaCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <div class="card black-text">
    <div class="row valign-wrapper">
      <div class="card-content">
        <div class="col s12">
          <center>
            <i class="fa fa-quote-left"></i><h5 class="h5-inline"> I have previously worked as a graphic designer, I am hoping to move into web administration / development. Learning coding skills has really helped me gain confidence in myself and hopefully will lead to better career opportunities. </h5><i class="fa fa-quote-right"></i>
          </center>
          <p class="right-align"><em>Emma, Media & Broadcasting</em></p>
        </div>
      </div>
    </div>
  </div>
  <a class="modal-trigger" href="#modalAttila">
    <div class="card-panel black-text hoverable">
      <div class="row valign-wrapper">
        <div class="col m2">
          <center>
            <i class="fa fa-play fa-5x"></i>
            <p size="8px">Play Video</p>
          </center>
        </div>
        <div class="col m8 s9 offset-s1">
          <i class="fa fa-quote-left"></i><h5 class="h5-inline"> It’s not that hard to learn and develop a web application with Ruby on Rails. </h5><i class="fa fa-quote-right"></i>
          <p><em>Attila Zimler, Software Developer</em></p>
        </div>
        <div class="col m2 hide-on-small-only">
          <img src="<%= asset_path 'testimonials/AttilaCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <div class="card black-text">
    <div class="row valign-wrapper">
      <div class="card-content">
        <div class="col s12">
          <center>
            <i class="fa fa-quote-left"></i><h5 class="h5-inline"> It has given me a fresh outlook on possible solutions to problems in my industry. I have a better understanding of data analysis and technology now. Thanks, Coder Factory, for the basic coding skills I have acquired through your courses. </h5><i class="fa fa-quote-right"></i>
          </center>
          <p class="right-align"><em>Arunava, Financial Services</em></p>
        </div>
      </div>
    </div>
  </div>
  <a class="modal-trigger" href="#modalDaniel">
    <div class="card-panel black-text hoverable">
      <div class="row valign-wrapper">
        <div class="col m2">
          <center>
            <i class="fa fa-play fa-5x"></i>
            <p size="8px">Play Video</p>
          </center>
        </div>
        <div class="col m8 s9 offset-s1">
          <i class="fa fa-quote-left"></i><h5 class="h5-inline"> [Coder Factory] gives you more technical experience rather than being mudlled up in all the theories (…) students can focus on the practical skills that employers want. </h5><i class="fa fa-quote-right"></i>
          <p><em>Daniel Dumycz, Artist</em></p>
        </div>
        <div class="col m2 hide-on-small-only">
          <img src="<%= asset_path 'testimonials/DanielCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <div class="card black-text">
    <div class="row valign-wrapper">
      <div class="card-content">
        <div class="col s12">
          <center>
            <i class="fa fa-quote-left"></i><h5 class="h5-inline"> Twofold benefits! Not only am I able to implement more effective creative to our email marketing and website, but it's also enabled me to look at a problem and think both mathematically and creatively to solve it. </h5><i class="fa fa-quote-right"></i>
          </center>
          <p class="right-align"><em>Teighan, Fashion</em></p>
        </div>
      </div>
    </div>
  </div>
  <a class="modal-trigger" href="#modalPeter">
    <div class="card-panel black-text hoverable">
      <div class="row valign-wrapper">
        <div class="col m2">
          <center>
            <i class="fa fa-play fa-5x"></i>
            <p size="8px">Play Video</p>
          </center>
        </div>
        <div class="col m8 s9 offset-s1">
          <i class="fa fa-quote-left"></i><h5 class="h5-inline"> [The atomosphere] is very casual, very friendly (…) they have been exceptionally patient with me and determined to help me. (…) I am learning a lot, very quickly! </h5><i class="fa fa-quote-right"></i>
          <p><em>Peter Hogan, Retail Professional</em></p>
        </div>
        <div class="col m2 hide-on-small-only">
          <img src="<%= asset_path 'testimonials/PeterCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <div class="card black-text">
    <div class="row valign-wrapper">
      <div class="card-content">
        <div class="col s12">
          <center>
            <i class="fa fa-quote-left"></i><h5 class="h5-inline"> Coder Factory gives me an opportunity to share coding skills with young kids, so that they can be motivated and engaged into computer science and programming for their future. </h5><i class="fa fa-quote-right"></i>
          </center>
          <p class="right-align"><em>Chau, Education</em></p>
        </div>
      </div>
    </div>
  </div>
  <a class="modal-trigger" href="#modalSam">
    <div class="card-panel black-text hoverable">
      <div class="row valign-wrapper">
        <div class="col m2">
          <center>
            <i class="fa fa-play fa-5x"></i>
            <p size="8px">Play Video</p>
          </center>
        </div>
        <div class="col m8 s9 offset-s1">
          <i class="fa fa-quote-left"></i><h5 class="h5-inline"> We really enjoyed it and got a lot out of it. (…) I have changed job (…) I am now using Ruby on Rails in my new startup! </h5><i class="fa fa-quote-right"></i>
          <p><em>Sam Henderson, Entrepeneur</em></p>
        </div>
        <div class="col m2 hide-on-small-only">
          <img src="<%= asset_path 'testimonials/SamCrop.jpg' %>" class="responsive-img circle">
        </div>
      </div>
    </div>
  </a>
  <div class="card black-text">
    <div class="row valign-wrapper">
      <div class="card-content">
        <div class="col s12">
          <center>
            <i class="fa fa-quote-left"></i><h5 class="h5-inline"> Coder Factory has given me a better understanding of how coding affects our everyday lives, and has confirmed my thinking that this is the career I'd like to pursue! </h5><i class="fa fa-quote-right"></i>
          </center>
          <p class="right-align"><em>Mark, Banking</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="modalAnna" class="modal">
  <div class="video-container">
    <iframe id="annaVid" src="https://player.vimeo.com/video/150739950?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div id="modalAttila" class="modal">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/150745311?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div id="modalDaniel" class="modal">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/150745848?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div id="modalPeter" class="modal">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/150745898?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div id="modalSam" class="modal">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/150745955?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<script>
$(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal({
    complete: function() {
    jQuery('#modalAnna iframe').attr("src", jQuery("#modalAnna  iframe").attr("src"));
    jQuery('#modalAttila iframe').attr("src", jQuery("#modalAttila  iframe").attr("src"));
    jQuery('#modalDaniel iframe').attr("src", jQuery("#modalDaniel  iframe").attr("src"));
    jQuery('#modalPeter iframe').attr("src", jQuery("#modalPeter  iframe").attr("src"));
    jQuery('#modalSam iframe').attr("src", jQuery("#modalSam  iframe").attr("src"));
    }
  });
});
</script>
