<%= simple_form_for(@academy_application) do |f| %>
  <div class="card">
    <div class="card-content">
      <h2>Fast Track Application</h2>
      <h5>Part 1: Personal information</h5>
      <br>
      <div class="row">
        <div class="form-group col m6 s12 input-field">
          <%= f.input :first_name, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col m6 s12 input-field">
          <%= f.input :last_name, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col m6 s12 input-field">
          <%= f.input :city, label: 'Which city do you currently live in?', input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col m6 s12 input-field">
          <%= f.country_select :country, ['Australia', 'Belgium', 'Canada', 'Cyprus', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Hong Kong', 'Ireland', 'Italy', 'Japan', 'Malta', 'Netherlands', 'Norway', 'Sweden', 'United States', 'United Kingdom', ], input_html: { class: 'form-control' } %>
          <label for="country">Which country do you currently live in?</label>
          <p>Only accepting domestic applicants within Australia at this time.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col m6 s12 input-field">
          <%= f.input :age, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col m6 s12 input-field">
          <%= f.select :gender, ['Female', 'Male', 'Neither'], input_html: { class: 'form-control'} %>
          <label for="gender">What gender do you identify as?</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col m5 s12 input-field">
          <%= f.input :phone, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col m7 s12 input-field">
          <%= f.input :email, input_html: { class: 'form-control' } %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h5>Part 2: Tell us about yourself</h5>
      <div class="form-group col s12 input-field">
        <%= f.input :one_line, label: 'Use one sentence to describe yourself', input_html: { class: 'form-control'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :reason, label: 'Please tell us why you are applying for this course', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :info, label: 'What is your background? Career, study, interests?', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :passion, label: 'What is your main passion in life?', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :experience, label: 'Please describe what technology you have experience with, if any.', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :challenge, label: 'Write a couple of paragraphs about a time you faced a challenge in life and overcame it.', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :special, label: 'Why should we choose you to be a student in this program?', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :links, label: 'Please provide any links that may help us learn more about you (LinkedIn, Facebook, Twitter, blog, etc)', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <br>
      <div class="form-group col s12 input-field">
        <%= f.input :referral, label: 'How did you hear about this program?', input_html: { class: 'form-control materialize-textarea'} %>
      </div>
      <div class="submit col s12">
        <%= f.submit 'Apply', class: 'light-blue white-text btn-large submit-button' %>
        <br><br>
        <p>A confirmation email will be sent to you almost immediately.</p>
      </div>
    </div>
  </div>
<% end %>
