<div class="container">
<div class="row">
  <div class="card">
    <div class="card-content black-text">
      <div class="row">
        <div class="col s4">
          <span class="card-title black-text">Name</span>
          <p><%= @academy_application.first_name %> <%= @academy_application.last_name %></p>
        </div>
        <div class="col s4">
          <span class="card-title black-text">Age</span>
          <p><%= @academy_application.age %></p>
        </div>
        <div class="col s4">
          <span class="card-title black-text">Gender</span>
          <p><%= @academy_application.gender %></p>
        </div>
      </div><br>
      <div class="row">
        <div class="col s4">
          <span class="card-title black-text">Location</span>
          <p><%= @academy_application.city %>, <%= @academy_application.country %></p>
        </div>
        <div class="col s4">
          <span class="card-title black-text">Email</span>
          <p><%= @academy_application.email %></p>
        </div>
        <div class="col s4">
          <span class="card-title black-text">Phone</span>
          <p><%= @academy_application.phone %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-content black-text">
      <span class="card-title black-text">Use one sentence to describe yourself.</span>
      <p><%= @academy_application.one_line %></p><br>
      <span class="card-title black-text">Please tell us why you are applying for this course.</span>
      <p><%= @academy_application.reason %></p><br>
      <span class="card-title black-text">What is your background? Career, study, interests?</span>
      <p><%= @academy_application.info %></p><br>
      <span class="card-title black-text">What is your main passion in life?</span>
      <p><%= @academy_application.passion %></p><br>
      <span class="card-title black-text">Please tell us what technology you have experience with, if any.</span>
      <p><%= @academy_application.experience %></p><br>
      <span class="card-title black-text">Write a couple of paragraphs about a time you faced a chalenge in life and overcame it.</span>
      <p><%= @academy_application.challenge %></p><br>
      <span class="card-title black-text">Why should we choose you to be a student in this program?</span>
      <p><%= @academy_application.special %></p><br>
      <span class="card-title black-text">Provide any links that may help us learn about you.</span>
      <p><%= @academy_application.links %></p>
      <span class="card-title black-text">How did you hear about this programme?</span>
      <p><%= @academy_application.referral %></p>
    </div>
  </div>
</div>
</div>
