<% if @info_session_dates.empty? %>
  <h3>There are currently no scheduled info sessions. Please check back later for more.</h3>
<% else %>
  <%= simple_form_for(@info_session_attendee) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="form-group input-field col s6">
        <%= f.input :first_name, label: "First Name", input_html: {class: "form-control"} %>
      </div>
      <div class="form-group input-field col s6">
        <%= f.input :last_name, label: "Last Name", input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group input-field col s3">
        <%= f.input :phone, label: "Phone", input_html: {class: "form-control"} %>
      </div>
      <div class="form-group input-field col s9">
        <%= f.input :email, label: "Email Address", input_html: {class: "form-controli"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group input-field col s12">
        <%= f.select :session_date, options_for_select(@info_session_dates), input_html: { class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.button :submit, "Sign Up", class: "btn-large submit-button" %>
      </div>
    </div>
  <% end %>
<% end %>
