<section id="top-section">
<div class="container">
  <div class="row">
    <div class="col m12">
      <h2>Your Posts</h2>
      <div class="card">
        <div class="card-content">
          <%= link_to 'New Post', new_post_path, class: 'btn btn-large submit-button' %>
          <%= link_to 'Download CSV', posts_path(format: "csv") %>
          <table class="table">
            <thead>
              <tr>
                <th width="40%">Title</th>
                <th width="15%">Author</th>
                <th width="10%">Publish</th>
                <th width="15%">Published</th>
                <th>Views</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= post.title%></td>
                  <td><%= post.user.first_name if post.user %></td>
                  <td><%= '<i class="fa fa-check"></i>'.html_safe if post.publish %></td>
                  <td><%= post.published_date.strftime('%d %B %Y') %></td>
                  <td><%= link_to '<i class="fa fa-eye"></i> View'.html_safe, post %></td>
                  <td><%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_post_path(post) %></td>
                  <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @posts.size == 0 %>
            <center>
              <h3>You currently have no posts.<br> Fix this using the "New Post" button located above.</h3>
            </center>
          <% end %>
        </div>
      </div>
      <div class="card">
        <center>
          <%= will_paginate @posts %>
        </center>
      </div>
    </div>
  </div>
</div>
</section>
