<%= content_for :title, @post.title + ' [@CoderFactory Blog]' %>
<%= content_for :description, @post.title + ': ' + @post.lead %>
<%= content_for :image, @post.image %>
<%= content_for :tagline, @post.published_date.strftime('%d %B %Y') %>

<section id="top-section">
  <div class="container">
    <div class="row">
      <div class="col m12">
        <div class="card">
          <div class="card-image">
            <%= link_to post_path(@post) do %>
              <% if @post.image.file? %>
                <%= image_tag(@post.image) %>
              <% end %>
            <% end %>
          </div>
          <div class="card-content blog-post">
            <%= link_to post_path(@post) do %><h1><span class="card-title grey-text text-darken-2"><%= @post.title %></span></h1><% end %>
            <div class="chip">
              <% if @post.user.image.file? %>
                <img src="<%= asset_path @post.user.image %>" alt="<%= @post.user.first_name %>">
              <% else %>
                <i class="fa fa-user"></i>
              <% end %>
              <%= @post.user.first_name %> <%= @post.user.last_name %>
            </div>
            <div class="chip">
              <%= @post.published_date.strftime('%d %B %Y') %>
            </div>
            <hr>
            <p class="flow-text"><%= @post.lead %></p>

            <div class="flow-text">
              <%= @post.content.html_safe %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
