<%= content_for :title, 'Coder Factory Academy Blog' %>
<%= content_for :description, 'Check out these great posts from our team relating to all things coding.' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section id="top-section">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1>Coder Factory Blog</h1>
      </div>
      <div class="col s12 m9">
        <%= render @posts %>
        <div class="card">
            <div class="card-content">
            <center>
              <% if @posts.size == 0 %>
                <h2> There are currently no blog posts. Please check back later.</h2>
              <% end %>
              <%= will_paginate @posts, renderer: MaterializePagination::Rails %>
            </center>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <%= render "side_nav" %>
      </div>
    </div>
  </div>
</section>
