<%= simple_form_for(@enquiry) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="form-group input-field col s6">
      <%= f.input :first_name, label: "First Name", input_html: {class: "form-control"} %>
    </div>
    <div class="form-group input-field col s6">
      <%= f.input :last_name, label: "Last Name", input_html: {class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group input-field col s3">
      <%= f.input :phone, label: "Phone", input_html: {class: "form-control"} %>
    </div>
    <div class="form-group input-field col s9">
      <%= f.input :email, label: "Email Address", input_html: {class: "form-controli"} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group input-field col s12">
    <label for="enquiry_type">You are:</label><br><br>
    <%= f.select :enquiry_type, options_for_select(['A High School Student in Australia', 'No Longer at High School', 'An Education Agent', 'A Teacher or Careers Adviser', 'An Industry Contact', 'Parent of a Potential Student']), input_html: { class: 'form-control'} %>
  </div>
</div>
<div class="row">
  <div class="form-group input-field col s12">
    <%= f.input :message, label: "Enquiry", input_html: {class: "form-control materialize-textarea"} %>
  </div>
</div>
  <%= f.button :submit, "Send", class: "btn-large submit-button" %>
<% end %>
