<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section id="top-section">
  <div class="container">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <h1>Enquiries</h1>
        <div class="card">
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th width="25%">Name</th>
                  <th width="25%">Type</th>
                  <th width="25%">Date Received</th>
                  <th>Views</th>
                </tr>
              </thead>
              <tbody>
                <% @enquiries.each do |e| %>
                  <tr>
                    <td><%= e.first_name %> <%= e.last_name %></td>
                    <td><%= e.type %></td>
                    <td><%= e.created_at.strftime('%d %B %Y')  %></td>
                    <td><%= link_to '<i class="fa fa-eye"></i> View'.html_safe, e %></td>
                    <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, e, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% if @enquiries.size == 0 %>
              <center>
                <h3>There are currently no enquiries.<br> Please check back later.</h3>
              </center>
            <% end %>
          </div>
        </div>
        <div class="card">
           <div class="container">
             <center>
               <%= will_paginate @enquiries %>
             </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
