<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <%= image_tag 'CFA_RGB_WHITE_hori.png', class: 'responsive-img' %>
      </div>
    </div>
    <div class="row">
      <div class="col m3 s6">
        <h5 class="white-text">COMPANY</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about-coder-factory-academy">About</a></li>
          <li><a class="grey-text text-lighten-3" href="https://drive.google.com/a/coderfactory.com/folderview?id=0B7WtFCI0RKBcWTNGWGtxRzk5U3M&usp=drive_web#" target="_blank">Information Toolkit</a></li>
          <li><a class="grey-text text-lighten-3" href="/frequently-asked-questions">FAQ's</a></li>
          <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          <%# <li><a class="grey-text text-lighten-3" href="/press">Press</a></li> %>
          <li><a class="grey-text text-lighten-3" href="/privacy">Privacy</a></li>
        </ul>
      </div>
      <div class="col m3 s6">
        <h5 class="white-text">COMMUNITY</H5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about-coder-factory-academy/instructors">Meet Your Instructors</a></li>
          <li><a class="grey-text text-lighten-3" href="/career-outcomes">Career Outcomes</a></li>
          <li><a class="grey-text text-lighten-3" href="/testimonials">Meet Our Alumni</a></li>
          <%# <li><a class="grey-text text-lighten-3" href="/corporate-training-opportunities">Corporate Training Opportunities</a></li> %>
          <li><a class="grey-text text-lighten-3" href="/women-in-tech">Women In Tech Scholarship</a></li>
          <li><a class="grey-text text-lighten-3" href="/video-archive">Video Archive</a></li>
        </ul>
      </div>
      <div class="col m3 s6">
        <h5 class="white-text">FOLLOW US</h5>
        <ul>
          <li><i class="fa fa-facebook-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://www.facebook.com/thecoderfactory/" target="_blank">Facebook</a></li>
          <li><i class="fa fa-twitter-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://twitter.com/coderfactory" target="_blank">Twitter</a></li>
          <li><i class="fa fa-instagram fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://www.instagram.com/coderfactoryacademy/" target="_blank">Instagram</a></li>
          <li><i class="fa fa-linkedin-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://www.linkedin.com/company/the-coder-factory" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
      <% if current_user %>
        <div class="col m3 s6">
          <h5 class="white-text">Admin</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/users/edit">Account Settings</a></li>
            <li><a class="grey-text text-lighten-3" href="/course_intakes">Course Intakes</a></li>
            <li><a class="grey-text text-lighten-3" href="/academy_applications">Coderfactory Academy Applications</a></li>
            <li><a class="grey-text text-lighten-3" href="/enquiries">Enquires</a></li>
            <li><a class="grey-text text-lighten-3" href="/information-sessions">Info Sessions</a></li>
            <li><a class="grey-text text-lighten-3" href="/workshop-sessions">Workshop Sessions</a></li>
            <li><a class="grey-text text-lighten-3" href="/posts">Your Blog Posts</a></li>
            <li><a class="grey-text text-lighten-3" href="/women_in_tech_scholarships">Women In Tech Scholarship Applications</a></li>
            <li><a class="grey-text text-lighten-3" href="/update-spreadsheet">Update Spreadsheet</a></li>
          </ul>
        </div>
      <% else %>
        <div class="col m3 s6">
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form action="//coderfactory.us7.list-manage.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=00b9463c67" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label class="white-text left" for="mce-EMAIL">Subscribe to our newsletter</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c644187b6d7e06d32bcae158_00b9463c67" tabindex="-1" value=""></div>
                <div class="clear left"><br><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button black-text"></div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      <% end %>
    </div>
  </div>
    <div class="container white-text">
      <p>RTO Code: 90511, Coder Factory Academy is a division of AIT <img src="<%= asset_path 'AIT_Logo_sm.png' %>" alt="AIT logo"></p>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col m6 s12">
          <p>© <%= Date.today.year %> Coder Factory Academy</p>
        </div>
        <div class="col m6 s12">
          <% if current_user %>
            <p class="grey-text text-lighten-4 right">Currently logged in as: <%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "grey-text text-lighten-4") %></p>
          <% else %>
            <a class="grey-text text-lighten-4 right" href="/users/sign_in">Sign in</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
