<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <%= image_tag 'CoderFactoryLogoForWeb.png', class: 'responsive-img' %>
      </div>
    </div>
    <div class="row">
      <div class="col m3 s6">
        <h5 class="white-text">COMPANY</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
          <li><a class="grey-text text-lighten-3" href="https://drive.google.com/a/coderfactory.com/folderview?id=0B7WtFCI0RKBcWTNGWGtxRzk5U3M&usp=drive_web#" target="_blank">Information Toolkit</a></li>
          <li><a class="grey-text text-lighten-3" href="/frequently-asked-questions">FAQ's</a></li>
          <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          <%# <li><a class="grey-text text-lighten-3" href="/press">Press</a></li> %>
          <li><a class="grey-text text-lighten-3" href="/privacy">Privacy</a></li>
        </ul>
      </div>
      <div class="col m3 s6">
        <h5 class="white-text">COMMUNITY</H5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about/instructors">Meet Your Instructors</a></li>
          <li><a class="grey-text text-lighten-3" href="/testimonials">Meet Our Alumni</a></li>
          <%# <li><a class="grey-text text-lighten-3" href="/corporate-training-opportunities">Corporate Training Opportunities</a></li> %>
          <li><a class="grey-text text-lighten-3" href="/women-in-tech/scholarship-information">Women In Tech Scholarship</a></li>
          <%# <li><a class="grey-text text-lighten-3" href="">On Course For A Career</a></li> %>
          <%# <li><a class="grey-text text-lighten-3" href="/video-archive">Video Archive</a></li> %>
        </ul>
      </div>
      <div class="col m3 s6">
        <h5 class="white-text">FOLLOW US</h5>
        <ul>
          <li><i class="fa fa-facebook-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://www.facebook.com/thecoderfactory/" target="_blank">Facebook</a></li>
          <li><i class="fa fa-twitter-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://twitter.com/coderfactory" target="_blank">Twitter</a></li>
          <li><i class="fa fa-linkedin-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://www.linkedin.com/company/the-coder-factory" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
      <% if current_user %>
        <div class="col m3 s6">
          <h5 class="white-text">Admin</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/users/edit">Account Settings</a></li>
            <li><a class="grey-text text-lighten-3" href="/academy_applications">Coderfactory Academy Applications</a></li>
            <li><a class="grey-text text-lighten-3" href="/enquiries">Enquires</a></li>
            <li><a class="grey-text text-lighten-3" href="/information_sessions">Info Sessions</a></li>
            <li><a class="grey-text text-lighten-3" href="/workshop_sessions">Workshop Sessions</a></li>
            <li><a class="grey-text text-lighten-3" href="/posts">Your Blog Posts</a></li>
            <li><a class="grey-text text-lighten-3" href="/women_in_tech_scholarships">Women In Tech Scholarship Applications</a></li>
          </ul>
        </div>
      <% end %>
    </div>
    </div>
    <div class="container white-text">
      <p>RTO Code: 90511, Coder Factory Academy is a division of AIT <img src="<%= asset_path 'AIT_Logo_sm.png' %>" alt="AIT logo"></p>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col m6 s12">
          <p>© <%= Date.today.year %> Coder Factory Academy</p>
        </div>
        <div class="col m6 s12">
          <% if current_user %>
            <p class="grey-text text-lighten-4 right">Currently logged in as: <%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "grey-text text-lighten-4") %></p>
          <% else %>
            <a class="grey-text text-lighten-4 right" href="/users/sign_in">Sign in</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
