<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <div class="card">
        <div class="card-content">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-group input-field">
              <%= f.input :first_name, required: true, autofocus: true %>
            </div>
            <div class="form-group input-field">
              <%= f.input :last_name, required: true, autofocus: true %>
            </div>
            <div class="#">
              <div class="file-field input-field gallery_picture">
                <div class="row">
                  <div class="col s2">
                    <div class="btn">
                      <span>Upload file</span>
                      <%= f.file_field :image %>
                    </div>
                  </div>
                  <div class="col s10">
                    <input class="file-path validate" type="text" placeholder="This is your profile image.">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group input-field">
              <%= f.input :email, required: true, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="form-group input-field">
              <%= f.input :password, autocomplete: "off", required: false, placeholder: "Leave this section blank if you do not want a new password." %>
            </div>
            <div class="form-group input-field">
              <%= f.input :password_confirmation, required: false, placeholder: "Leave this section blank is you do not want a new password." %>
            </div>
            <div class="form-group input-field">
              <%= f.input :current_password, required: true, placeholder: "Your current password is needed to confirm all changes." %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update" %>
          </div>
        <% end %>

        <h3>Delete Account</h3>

        <%= link_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
